<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Socks</title>

    <link rel="stylesheet" href="./assets/styles.css" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- <p>{{description}}</p> -->
      <div class="nav-bar"></div>
      <div class="cart">Cart ({{cart}})</div>
      <div class="product-display">
        <div class="product-container">
          <div class="product-image">
            <img
              :class="{ 'out-of-stock-img': !inventory }"
              v-bind:src="image"
            />

            <!-- <a :href="link" /> -->
          </div>
          <div class="product-info">
            <h1>{{product}}</h1>
            <p>{{stockStatus}}</p>
            <!-- <p v-if="onSale">On Sale </p> -->
            <!-- <p v-else>Sold out </p> -->
            <ul>
              <li v-for="detail in details">{{detail}}</li>
            </ul>
            <!-- <ul>
              <li v-for="size in sizes">{{size}}</li>
            </ul> -->
            <div
              v-for="variant in variants"
              :key="variant.id"
              @mouseover="uptadeImage(variant.image)"
              class="color-circle"
              :style="{backgroundColor: variant.color}"
            >
              {{variant.color}}
            </div>
            <button
              class="button"
              :class="{disabledButton: !inventory}"
              :disabled="!inventory"
              :disavled="isAtMaxInventory"
              v-on:click="addToCart"
            >
              Add to Cart
            </button>
            <button
              class="button"
              v-on:click="decrease"
              :class="{disabledButton: cart === 0}"
              :disabled="cart === 0"
            >
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="./main.js"></script>

    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>

<!-- https://3f31c7e8.asynchronous.pages.dev/ -->
