<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Socks</title>

    <link rel="stylesheet" href="./assets/styles.css" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart ({{ cart.length }})</div>
      <product-display
        :cart="cart"
        @update-cart="updateCart"
        @decrease-cart="decreaseCart"
        :premium="premium"
      ></product-display>
      <template>
        <div>
          <h1>Reviews</h1>
          <div v-if="reviews.length > 0">
            <ul>
              <li v-for="review in reviews" :key="review.id">
                {{ review.text }}
              </li>
            </ul>
          </div>
          <div v-else>
            <p>No reviews available.</p>
          </div>
        </div>
      </template>
    </div>

    <script type="module" src="./main.js"></script>
  </body>
</html>

<!-- https://3f31c7e8.asynchronous.pages.dev/ -->
<!-- https://ggkh1.github.io/socks/ -->
